.view-load-totals td {
    padding: 5px;
    border-bottom: 1px solid gray;
}

.view-load-totals th {
    padding: 5px;
    background: rgb(233, 49, 75);
    color: white;
}

.view-load-totals th > a {
    color: white;
}

.view-load-totals div.label{
    display: none;
}

tr.summary {
    padding: 5px;
    background: rgb(233, 49, 75);
    color: white;
    text-align: right;
}

.views-exposed-widget{
    max-width: 12%;
    font-size: 10px;
}

.views-table{
    width: 100%;
}

div.help-block{
    display: none;
}

div.form-type-date-popup{
    width: 90%;
}

.container-inline-date .form-item .form-item {
    float: none;
    width: 75%
}