.view-load-totals td {
    padding: 5px;
    border-bottom: 1px solid gray;
}

.view-load-totals th {
    padding: 5px;
    background: rgb(233, 49, 75);
    color: white;
}

.view-load-totals th > a {
    color: white;
}

.view-load-totals div.label{
    display: none;
}

tr.summary {
    padding: 5px;
    background: rgb(233, 49, 75);
    color: white;
    text-align: right;
}

.views-exposed-widget{
    font-size: 10px;
}
.views-table{
    width: 100%;
}

div.help-block{
    display: none;
}

#edit-delivery-date-from-value-datepicker-popup-0, #edit-delivery-date-to-value-datepicker-popup-0{
    width: 210px;
    font-size:12px;
}

.container-inline-date .form-item .form-item {
    /*float: none;
    width: 75%*/
}

.views-exposed-form .views-exposed-widget .btn{
    margin-top: 1.3em;
}

#edit-submit-load-totals, #edit-reset{
    margin-top: 1.3em;
}

.view-load-totals th {
    text-align: center;
    border-bottom: 1px solid white;
}

.border-left-white{
    border-left: 1px solid white;
}